body {
  background-color: #000000;
  color: white;
}

.navbar {
  height: 100px;
}

.text-start {
  margin: 4% 0%;
}

.marketing .col-lg-4 {
  text-align: center;
}

.bordered-section {
  border: 5px double #6c757d;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 40px;
}

#about-us p {
  padding-left: 20px;
  padding-right: 20px;
}

#contact, #about-us{
  padding: 50px 0;
}


.section-title {
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  color: #e8eaec;
  text-decoration: underline;
  text-decoration-color: #0077b6;
  text-underline-offset: 20px;
  text-decoration-thickness: 5px;
  padding-bottom: 50px;
}

/* Email link styling */
a.email-link {
  color: #00b4d8;
  text-decoration: none;
}

a.email-link:hover {
  color: #00b4d8;
  text-decoration: underline;
}

/* Footer styling */
#footer {
  background-color: #000000;
  color: white;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a img {
  border-radius: 9%;
}

#footer p {
  font-size: 1.25rem;
}

#footer ul li {
  font-size: larger;
}

.scroll-top-arrow {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.scroll-top-arrow:hover {
  cursor: pointer;
}


.btn {
  font-family: sans-serif;
  font-weight: 600;
  background-color: #00a6fb;
  border-color: #00a6fb;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-navbar {
  margin-right: 20px;
}

.navbar.no-hover:hover {
  text-decoration: none;
}


.bg-dark {
  background-color: #000 !important;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.colored-hr {
  border: none;
  border-top: 4px solid #0077b6;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

ol, ul {
  padding-right: 1rem;
}
main {
  margin-top: 100px;
}

#myBanner {
  background-image: url('blue_particles.png');
  background-size: cover;
  background-position: center;
  height: 500px;
}

#banner-content {
  max-width: 1000px;
  padding: 6% 8%;
  margin: 0 auto;
}

@media only screen and (min-width : 1000px) {
  #banner-content {
    padding: 7% 7%;
  }
}

#footer {
  text-align: center;
}

nav.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-decoration-color: #0077b6;
  text-underline-offset: 20px;
  text-decoration-thickness: 5px;
}

.navbar-logo {
  height: 50px;
}

.member-img {
  margin-bottom: 20px;
}

.member-p {
  font-size: 18px;
}

.subsection-title {
  text-align: center;
  padding-bottom: 40px;
}

a[href="#contact"] {
    text-decoration: none !important;
}

.banner-title-font {
  font-size:x-large;
}

.section-p {
  font-size: large;
}

.nav-item {
  padding: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
}